<template>
  <div class="container text-center mt-5">
    <img
      src="https://znews-photo.zadn.vn/w660/Uploaded/kbd_bcvi/2019_11_23/5d828d976f24eb1a752053b5_thumb.jpg"
      class="w-50 h-25 center"
      alt=""
    />

    <div class="mt-3">
      <h2 class="text-success">{{ postDetail.title }}</h2>
      <p class="mt-2 text-justify" style="white-space: pre-wrap">
        {{ postDetail.content }}
      </p>
    </div>
    <div class="d-flex justify-content-between text-secondary mb-5">
      <p class="mb-0">
        <i class="fas fa-feather-alt">
          </i> Author:  {{ postDetail.authorName }}
      </p>
      <p class="mb-0">
        <i class="far fa-calendar-alt"></i> Created on: 
        {{ postDetail.createdDate | formatDate }}
      </p>
      <p>
        <i class="fas fa-edit"></i> Updated on: 
        {{ postDetail.updatedDate | formatDate }}
      </p>
    </div>
  </div>
</template>

<script>
// import axios from "axios";
import {findPostById} from "@/service/user";

export default {
  data() {
    return {
      postDetail: {
        id: null,
        category: "",
        title: "",
        content: "",
        authorName: "",
        createdDate: null,
        updatedDate: null,
        thumbnail: "",
      },
    };
  },
  created() {
    findPostById(this.$route.params.id).then((response) => {
        this.postDetail = response.data.result;
      });
  },
};
</script>

<style scoped></style>
