<template>
  <footer>
    <div>©2021 Web thực hành VueJS </div>
  </footer>
</template>

<script>
export default {
  name: "Footer"
}
</script>

<style scoped>
footer{
  background-color:#ccc;
  text-align:center;
  padding:25px;
  font-size:18px;
}
</style>