<template>
  <div class="topnav d-flex align-items-center justify-content-between">
    <a class="active" href="/"
      ><div class="box">
        <div class="inner">
          <span class="text-success">BBS - Hexagon</span>
        </div>
        <div class="inner">
          <span>Van - Thoai - Cuong</span>
        </div>
      </div>
    </a>

    <div class="d-flex align-items-center">
      <div class="d-flex align-items-center">
        <a href="create">CreatePost</a>
        <a href="register">Register</a>
        <a data-toggle="modal" data-target="#exampleModal"> Login </a>
        <div
          class="modal fade"
          id="exampleModal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body"><Login></Login></div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="button" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input
        class="align-self-right my-auto rounded"
        type="text"
        placeholder="Search.."
      />
    </div>
  </div>
</template>

<script>
import Login from "@/components/Login";
export default {
  name: "Header",
  components: {Login}
}
</script>

<style scoped>

.topnav {
  overflow: hidden;
  background-color: #ccc;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
  height: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ff8f00;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  /*background-color: #2196F3;*/
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}
</style>
<style scoped>
.box {
  display: flex;
}

.box .inner {
  width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.box .inner:first-child {
  background-color: indianred;
  color: darkred;
  transform-origin: right;
  transform: perspective(100px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: lightcoral;
  color: antiquewhite;
  transform-origin: left;
  transform: perspective(100px) rotateY(15deg);
}

.box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}
</style>
