<template>
  <div id="form">
    <div id="logreg-forms">
      <b-form @submit.stop.prevent="onSubmit" class="form-signin">
        <b-form-group label="Email">
          <b-form-input :state="validateEmail" v-model="email"></b-form-input>
          <b-form-invalid-feedback :show="validateEmail">{{ errorEmailMessage }}</b-form-invalid-feedback>
          <b-form-valid-feedback :show="validateEmail"></b-form-valid-feedback>
        </b-form-group>
        <b-form-group label="Password">
          <b-form-input type="password" :state="validatePassword" v-model="password"></b-form-input>
          <b-form-invalid-feedback :show="validatePassword">{{ errorPasswordMessage }}</b-form-invalid-feedback>
          <b-form-valid-feedback :show="validatePassword"></b-form-valid-feedback>
        </b-form-group>
        <b-form-group>
          <b-button type="submit" class="btn btn-primary btn-block">Submit</b-button>
        </b-form-group>
      </b-form>
    </div>
  </div>
</template>

<script>
import {login} from "@/service/user";

export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
      validateEmail: null,
      validatePassword: null,
      errorEmailMessage: "",
      errorPasswordMessage: ""
    }
  }
  ,
  methods: {
    isEmailValid() {
      const emailReg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      this.validateEmail = emailReg.test(this.email)
    }
    ,

    isPasswordValid() {
      const passwordReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
      this.validatePassword = passwordReg.test(this.password)
    }
    ,
    onSubmit() {
      if (this.email.length === 0) {
        this.errorEmailMessage = "Mail address is required!"
        this.validateEmail = false
      } else if (!this.isEmailValid()) {
        this.errorEmailMessage = "Mail address must has format xxx@yyy.zzz"
        this.validateEmail = false
      } else {
        this.validateEmail = true
      }


      if (this.password.length === 0) {
        this.errorPasswordMessage = "Password is required"
        this.validatePassword = false
      } else {
        this.errorPasswordMessage = "Password must have at least 8 characters including letters, numbers and special characters"
        this.validatePassword = false
      }
      this.isEmailValid()
      this.isPasswordValid()

      if (this.validateEmail && this.validatePassword) {
        let user = {
          email: this.email,
          password: this.password,
        }
        login(user).then(() => {
          this.$bvModal.msgBoxOk("Login successfully!", {
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'success',
            centered: true
          }).then(() => {
            this.$router.push('/')
          })
        }).catch(err => {
          if (err.response.data.error.code == 412) {
            this.errorEmailMessage = err.response.data.error.message
            this.validateEmail = false

            this.$bvModal.msgBoxOk(`Login failed! Reason: ${err.response.data.error.message}`, {
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'failure',
              centered: true
            })
          }
        })
      }
    }
  }
}
</script>

<style scoped>

</style>