<template>
<div id="form">
  <div id = "logreg-forms">
    <b-form @submit.stop.prevent="onSubmit"  class="form-signin">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Registry</h1>

      <b-form-group label="Email">
        <b-form-input :state="validateEmail" v-model="email" ></b-form-input>
        <b-form-invalid-feedback :show="validateEmail" >{{ errorEmailMessage }}</b-form-invalid-feedback>
        <b-form-valid-feedback :show="validateEmail" ></b-form-valid-feedback>
      </b-form-group>
      <b-form-group label="Password">
        <b-form-input type="password" :state="validatePassword" v-model="password"  ></b-form-input>
        <b-form-invalid-feedback :show="validatePassword">{{ errorPasswordMessage }}</b-form-invalid-feedback>
        <b-form-valid-feedback :show="validatePassword" ></b-form-valid-feedback>
      </b-form-group>
      <b-form-group label="Name">
        <b-form-input type="text" :state="validateUsername" v-model="username" ></b-form-input>
        <b-form-invalid-feedback :state="validateUsername">{{ errorUsernameMessage }}</b-form-invalid-feedback>
        <b-form-valid-feedback :state="validateUsername"></b-form-valid-feedback>
      </b-form-group>

      <b-form-group>
        <b-button type="submit" class="btn btn-primary btn-block">Submit</b-button>
      </b-form-group>
    </b-form>
  </div>
</div>
</template>

<script>
import {signup} from "@/service/user";

export default {
  name: "Register",
  data(){
    return{
      email: "",
      password: "",
      username: "",
      validateEmail: null,
      validatePassword: null,
      validateUsername: null,
      errorEmailMessage: "",
      errorPasswordMessage: "",
      errorUsernameMessage:""
    }
  },
  methods: {
    isEmailValid() {
      const emailReg = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      this.validateEmail = emailReg.test(this.email)
    },

    isPasswordValid() {
      const passwordReg = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,}$/
      this.validatePassword = passwordReg.test(this.password)
    },
    onSubmit() {
      if(this.username.length ===0){
        this.errorUsernameMessage = "Name is required!"
        this.validateUsername =false
      }else {
        this.validateUsername =true
      }
      if (this.email.length === 0) {
        this.errorEmailMessage = "Mail address is required!"
        this.validateEmail = false
      } else if (!this.isEmailValid()) {
        this.errorEmailMessage = "Mail address must has format xxx@yyy.zzz"
        this.validateEmail = false
      } else {this.validateEmail =true}


      if (this.password.length === 0) {
        this.errorPasswordMessage = "Password is required"
        this.validatePassword = false
      } else {
        this.errorPasswordMessage = "Password must have at least 8 characters including letters, numbers and special characters"
        this.validatePassword = false
      }
      this.isEmailValid()
      this.isPasswordValid()

      if (this.validateEmail && this.validatePassword && this.validateUsername) {
        let user = {
          email: this.email,
          password: this.password,
          username: this.username
        }
        console.log(user)

        signup(user).then(() => {
          this.$bvModal.msgBoxOk("Sign up successfully!", {
            size: 'sm',
            buttonSize: 'sm',
            okVariant: 'success',
            centered: true
          }).then(() => {
            this.$router.push('/')
          })
        }).catch(err => {
          if (err.response.data.error.code == 412) {
            this.errorEmailMessage = err.response.data.error.message
            this.validateEmail = false

            this.$bvModal.msgBoxOk(`Signup failed! Reason: ${err.response.data.error.message}`, {
              size: 'sm',
              buttonSize: 'sm',
              okVariant: 'failure',
              centered: true
            })
          }
        })
      }
    }
  }
}
</script>

<style scoped>
#logreg-forms{
  width:412px;
  margin:10vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#logreg-forms form {
  width: 100%;
  max-width: 410px;
  padding: 15px;
  margin: auto;
}
#logreg-forms .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
#logreg-forms .form-control:focus { z-index: 2; }
#logreg-forms .form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#logreg-forms .form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#logreg-forms .social-login{
  width:390px;
  margin:0 auto;
  margin-bottom: 14px;
}
#logreg-forms .social-btn{
  font-weight: 100;
  color:white;
  width:190px;
  font-size: 0.9rem;
}

#logreg-forms a{
  display: block;
  padding-top:10px;
  color:lightseagreen;
}

#logreg-form .lines{
  width:200px;
  border:1px solid red;
}


#logreg-forms button[type="submit"]{ margin-top:10px; }

#logreg-forms .facebook-btn{  background-color:#3C589C; }

#logreg-forms .google-btn{ background-color: #DF4B3B; }

#logreg-forms .form-reset, #logreg-forms .form-signup{ display: none; }

#logreg-forms .form-signup .social-btn{ width:210px; }

#logreg-forms .form-signup input { margin-bottom: 2px;}

.form-signup .social-login{
  width:210px !important;
  margin: 0 auto;
}

/* Mobile */

@media screen and (max-width:500px) {
  #logreg-forms {
    width: 300px;
  }

  #logreg-forms .social-login {
    width: 200px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  #logreg-forms .social-btn {
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    width: 200px;
    height: 56px;

  }

  #logreg-forms .social-btn:nth-child(1) {
    margin-bottom: 5px;
  }

  #logreg-forms .social-btn span {
    display: none;
  }

  #logreg-forms .facebook-btn:after {
    content: 'Facebook';
  }

  #logreg-forms .google-btn:after {
    content: 'Google+';
  }
}
</style>